<div class="modulo" *ngIf="showPortfolio" style="margin-top: 90px">          
    <app-acerca-de></app-acerca-de>
</div>

<div class="modulo" *ngIf="showPortfolio">    
    <app-modulo-header
    title=" Acerca de mí"
    icon="bi bi-briefcase"
    (btnToggleEditMode)="toggleEditExperience()"
    ></app-modulo-header>        
    <app-about></app-about>
</div>

<div class="modulo" *ngIf="showExperience">
    <app-modulo-header
    title=" Experiencia"
    icon="bi bi-briefcase"
    (btnToggleEditMode)="toggleEditExperience()"
    ></app-modulo-header>  
    <app-experiencia
    [editMode]="getEditExperience()"
    ></app-experiencia>
</div>

 <div class="modulo" *ngIf="showEducation">
    <app-modulo-header
    title=" Educación"
    icon="bi bi-mortarboard"
    (btnToggleEditMode)="toggleEditEducation()"
    ></app-modulo-header>  
    <app-educacion
    [editMode]="getEditEducation()"
    ></app-educacion>
</div>

<div class="modulo" *ngIf="showSkills">
    <app-modulo-header
    title=" Aptitudes"
    icon="bi bi-clipboard-check"
    (btnToggleEditMode)="toggleEditSkills()"
    ></app-modulo-header>  
    <app-skills
    [editMode]="getEditSkills()"
    ></app-skills>
</div>

<div class="modulo" *ngIf="showProjects">
    <app-modulo-header
    title=" Proyectos"
    icon="bi bi-code-square"
    (btnToggleEditMode)="toggleEditProjects()"
    ></app-modulo-header>  
    <app-proyectos
    [editMode]="getEditProjects()"
    ></app-proyectos>
</div>