<div class="row" style="margin:50px">
    <div class="col">
            <h1 class="rounded float-start"><i class="bi bi-code-square" style="color: rgb(51, 146, 230)"></i> Proyectos</h1>            
            <span class="rounded float-end"><i class="bi bi-plus-square" style="color:green;"></i></span>
            <span class="rounded float-end"><i class="bi bi-pencil-square" style="color:green"></i></span>
    </div>
</div>

<ul>
<li *ngFor="let projects of projectsList" style="list-style-type: none;">
    <div class="card-container">
        <div class="card">
            <div class="row align-items-center">
                
                <div class="col-md" style="justify-content:center">                
                    <h2>{{projects.name}}</h2>
                    <h6><time>{{projects.start}}</time></h6>
                    <h6>{{projects.description}}</h6>
                    <a href={{projects.url}}>{{projects.name}}</a>
                </div>
                <div class="col-2" >
                    
                        <img [src]="projects.img" class="logo" style="max-height: 10em; width:auto">
                    
                    
                </div>
                <div class="col-sm">
                    <div class="contenedor">
                        <i class="bi bi-pencil-fill"
                             style="margin-right: 10px"
                              (click) = "onUpdate(projects)"
                              ></i>
                            <i class="bi bi-trash-fill"
                             style="color:red"
                                (click) = "onDelete(projects)"                            
                             ></i>
                    </div> 
                </div>            
            </div>        
        </div>
    </div>
</li>
</ul>


