<div class="row" style="margin:50px">
    <div class="col">
            <h1 class="rounded float-start"><i class="bi bi-code-square" style="color: rgb(51, 146, 230)"></i> Proyectos</h1>            
            
            <span class="rounded float-end">
                <i class="bi bi-pencil-square"
                    [ngStyle]="{'color': color}"
                    [ngStyle]="{'background-color': '{{color}}'}"  
                    style="color:green"                   
                    (click)="toggleEditMode()"                                                                               
                ></i>
            </span>
    
            <span class="rounded float-end">
                <i class="bi bi-plus-square-fill"
                    *ngIf = "editMode"  
                    style="color:green"               
                    data-bs-toggle="modal" data-bs-target="#projectsModal"
                    (click)="clearProject()"
                ></i>
            </span>

    </div>
</div>

<ul>
<li *ngFor="let projects of projectsList" style="list-style-type: none;">
    <div class="card-container">
        <div class="card">
            <div class="row align-items-center">
                
                <div class="col-md" style="justify-content:center">                
                    <h2>{{projects.name}}</h2>
                    <h6><time>{{projects.start}}</time></h6>
                    <h6>{{projects.description}}</h6>
                    <a href={{projects.url}}>{{projects.name}}</a>
                </div>
                <div class="col-2" >
                    
                        <img [src]="projects.img" class="logo" style="max-height: 10em; width:auto">
                    
                    
                </div>
                <div class="col-sm">
                    <div class="contenedor" *ngIf = "editMode">
                        <i class="bi bi-pencil-fill"
                             style="margin-right: 10px"
                              (click) = "setProject(projects)"
                              data-bs-toggle="modal" data-bs-target="#projectsModal"
                              ></i>
                            <i class="bi bi-trash-fill"
                             style="color:red"
                                (click) = "onDelete(projects)"                            
                             ></i>
                    </div> 
                </div>            
                
                <!-- MODAL -->
            


            </div>        
        </div>
    </div> 

</li>
</ul>


<div class="modal" id="projectsModal" >
                
    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-header">            
                <h5 class="modal-title" id="staticBackdropLabel">Editar Aptitud</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
        
            <div class="modal-body">
                
                <form [formGroup]="formGroup"
                    (ngSubmit)="onSubmit(projectItem)"
                    >
                    <div class="form-group">
                        <label for="name">Nombre</label>
                        <input class="form-control"
                            type="text" 
                            formControlName="name" 
                            placeholder="{{projectItem.name}}" 
                            [(ngModel)]="projectItem.name"
                        />
                    </div>

                    <div class="form-group">
                        <label for="start">Fecha Inicio</label>
                        <input class="form-control"
                            type="text" 
                            formControlName="start" 
                            placeholder="{{projectItem.start}}"
                            [(ngModel)]="projectItem.start"
                        />
                    </div>

                    <div class="form-group">
                        <label for="description">Descripción</label>
                        <input class="form-control"
                            type="text" 
                            formControlName="description" 
                            placeholder="{{projectItem.description}}"
                            [(ngModel)]="projectItem.description"
                        />
                    </div>
                    
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Guardar</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Salir</button>
                    </div>
                </form> 
            

            </div>

            
        </div>

    </div>
</div>
