<div class="row" style="margin:50px">
    <div class="col">
            <h1 class="rounded float-start">Educación</h1>
            <span class="rounded float-end"><i class="bi bi-pencil-square" style="color:#65cd23"></i></span>
    </div>
</div>

<ul>
<li *ngFor="let education of educationList" style="list-style-type: none;">
    <div class="card-container">
        <div class="card">
            <div class="row align-items-center">
                <div class="col-3">
                    <img [src]="education.image" class="logo">
                </div>
                <div class="col-md">                
                    <h2>{{education.school}}</h2>
                    <h5>{{education.title}}</h5>
                    <h6><time>{{education.start}}</time> - <time>{{education.end}}</time></h6>
                </div>
                <div class="col-sm">
                    <div class="contenedor">
                        <i class="bi bi-pencil-fill" style="color:#65cd23; margin-right: 10px"></i>
                        <i class="bi bi-trash-fill" style="color:red"></i>
                    </div> 
                </div>            
            </div>        
        </div>
    </div>
</li>
</ul>