<div class="row" style="margin-left:40px">
    <div class="col">
        
        <span class="rounded float-start">
            <button class="btn btn-success btn-lg"
                *ngIf = "editMode"
                data-bs-toggle="modal" data-bs-target="#educationModal"
                (click)="clearEducation()"
            >Añadir</button>
        </span>
        
    </div>
</div>

<ul>
<li *ngFor="let education of educationList" style="list-style-type: none;">
    <div class="card-container">
        <div class="card">
            <div class="row align-items-center">
                <div class="col-2">
                    <img [src]="education.image" class="logo">
                </div>
                <div class="col-lg">                
                    <h2>{{education.school}}</h2>
                    <h5>{{education.title}}</h5>
                    <h6><time>{{education.start}}</time> - <time>{{education.end}}</time></h6>
                </div>
                <div class="col-sm">
                    <div class="contenedor" *ngIf = "editMode">
                        <i class="bi bi-pencil-fill"
                             style="margin-right: 10px"
                              (click) = "setEducation(education)"
                              data-bs-toggle="modal" data-bs-target="#educationModal"
                              ></i>
                            <i class="bi bi-trash-fill"
                             style="color:red"
                                (click) = "onDelete(education)"                            
                             ></i>
                    </div> 
                </div>            
            </div>        
        </div>
    </div>
</li>
</ul>

<div class="modal" id="educationModal" >
                
    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-header">            
                <h5 class="modal-title" id="staticBackdropLabel">{{newEducation ? 'Nueva Educación': 'Editar Educación'}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        
            <div class="modal-body">
                
                <form [formGroup]="formGroup"
                    (ngSubmit)="onSubmit(educacion)"
                    >
                    <div class="form-group">
                        <label for="school">Institución</label>
                        <input class="form-control"
                            type="text" 
                            formControlName="school" 
                            placeholder="{{educacion.school}}"
                            [(ngModel)]="educacion.school"
                        />
                    </div>

                    <div class="form-group">
                        <label for="title">Título</label>
                        <input class="form-control"
                            type="title" 
                            formControlName="title" 
                            placeholder="{{educacion.title}}"
                            [(ngModel)]="educacion.title"
                        />
                    </div>


                    <div class="form-group">
                        <label for="career">Carrera</label>
                        <input class="form-control"
                            type="text" 
                            formControlName="career" 
                            placeholder="{{educacion.career}}" 
                            [(ngModel)]="educacion.career"
                        />
                    </div>

                    <div class="form-group">
                        <label for="score">Promedio</label>
                        <input class="form-control"
                            type="text" 
                            formControlName="score" 
                            placeholder="{{educacion.score}}" 
                            [(ngModel)]="educacion.score"
                        />
                    </div>

                    <div class="form-group">
                        <label for="start">Desde</label>
                        <input class="form-control"
                            type="text" 
                            formControlName="start" 
                            placeholder="{{educacion.start}}"
                            [(ngModel)]="educacion.start"
                        />
                    </div>
                    <div class="form-group">
                        <label for="end">Hasta</label>
                        <input class="form-control"
                            type="text" 
                            formControlName="end" 
                            id="end" 
                            placeholder="{{educacion.end}}"
                            [(ngModel)]="educacion.end"
                        />
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Guardar</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Salir</button>
                    </div>
                </form> 
            

            </div>

            
        </div>

</div>
</div>