<div class="col-12" *ngIf="editMode"> 
    <div class="contenedor">
       <i class="bi bi-pencil-fill rounded float-end"
       data-bs-toggle="modal" data-bs-target="#aboutModal"
                        style="
                         margin-right: 30px"
                         (click)="setPortfolio()"                         
                         ></i>
    </div>               
</div>
<div class="col-12">
<div class="row">
    <div class="card-container" style="padding: 10px 40px 40px 40px">
        <h6>{{miPortfolio.about}}</h6>
    </div>    
</div>


<div class="modal" id="aboutModal" >
    
    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-header">            
                <h5 class="modal-title" id="staticBackdropLabel">Descripción</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
        
            <div class="modal-body">

                <form [formGroup]="formGroup"
                    (ngSubmit)="onUpdate(miPortfolio)"                    >
                    
                    <div class="form-group">
                        <label for="about">Acerca de mí</label>
                        <div class="input-group mb-3">
                            <textarea class="form-control" placeholder="{{miPortfolio.about}}" formControlName="about" required></textarea>
                            
                        </div>                    
                    </div> 

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Guardar</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Salir</button>
                    </div>
                </form>               

            </div>            
        </div>
    </div>
</div>

