<div class="data">
    <div class="row">
        <div class="col-sm">
            <h1>Experiencia</h1>
        </div>
        <div class="col-md"></div>
        <div class="col-md"></div>
        <div class="col-sm">
            <div class="contenedor">
                <i class="bi bi-pencil-square" style="color:#65cd23"></i>
            </div>            
        </div>
</div>
</div>

<ul>
    <li *ngFor="let experience of experienceList" style="list-style-type: none;">
        <div class="card-container">
            <div class="card">
                <div class="row align-items-center">
                    <div class="col-3">
                        <div class="content">
                            <img [src]="experience.img" class="logo">
                        </div>
                        
                    </div>
                    <div class="col-md" style="justify-content:center">                
                        <h2>{{experience.company}}</h2>
                        <h4>{{experience.position}}</h4>
                        <h6><time>Desde {{experience.start}}</time> hasta <time>{{experience.end}}</time></h6>
                        <h6>{{experience.ubication}}</h6>
                    </div>
                    <div class="col-sm">
                        <div class="contenedor">
                            <i class="bi bi-pencil-fill" style="color:#65cd23; margin-right: 10px"></i>
                            <i class="bi bi-trash-fill" style="color:red"></i>
                        </div> 
                    </div>            
                </div>        
            </div>
        </div>
    </li>
    </ul>
