<div class="row" style="margin:50px">
    <div class="col">
            <h1 class="rounded float-start">Experiencia</h1>
            <span class="rounded float-end"><i class="bi bi-pencil-square" style="color:#65cd23"></i></span>
    </div>
</div>

<ul>
    <li *ngFor="let experience of experienceList" style="list-style-type: none;">
        <div class="card-container">
            <div class="card">
                <div class="row align-items-center">
                    <div class="col-3">
                        <div class="content">
                            <img [src]="experience.img" class="logo">
                        </div>
                        
                    </div>
                    <div class="col-md" style="justify-content:center">                
                        <h2>{{experience.company}}</h2>
                        <h4>{{experience.position}}</h4>
                        <h6><time>Desde {{experience.start}}</time> hasta <time>{{experience.end}}</time></h6>
                        <h6>{{experience.ubication}}</h6>
                    </div>
                    <div class="col-sm">
                        <div class="contenedor">
                            <i class="bi bi-pencil-fill"
                             style="color:#65cd23;
                              margin-right: 10px"
                              (click) = "onUpdate(experience)"
                              ></i>
                            <i class="bi bi-trash-fill"
                             style="color:red"
                                (click) = "onDelete(experience)"                            
                             ></i>
                        </div> 
                    </div>            
                </div>        
            </div>
        </div>
    </li>
    </ul>
