<div class="row" style="margin-left:40px">
    <div class="col">
        
        <span class="rounded float-start">
            <button class="btn btn-success btn-lg"
                *ngIf = "editMode"
                data-bs-toggle="modal" data-bs-target="#experienceModal"
                (click)="clearExperience()"
            >Añadir</button>
        </span>
        
    </div>
</div>

<ul>
    <li *ngFor="let experience of experienceList" style="list-style-type: none;">
        <div class="card-container">
            <div class="card">

                
                <div class="row align-items-center">
                    <div class="col-md-2 col-sm-12">
                            <img [src]="experience.img" class="logo" style="">
                        
                    </div>
                    <div class="col-lg" style="justify-content:center">      
                    <div class="card-item">
                        <h3>{{experience.company}}</h3>
                        <h5>{{experience.position}}</h5>
                        <h6><time>Desde {{experience.start}}</time> hasta <time>{{experience.end}}</time></h6>
                        <p>{{experience.ubication}}</p>
                    </div>          
                    </div>
                    <div class="col-sm">
                        <div class="contenedor" *ngIf="editMode">
                            <i class="bi bi-pencil-fill"
                             style="margin-right: 10px"
                              data-bs-toggle="modal" data-bs-target="#experienceModal"
                              (click)="setExperience(experience)"
                              ></i>
                            <i class="bi bi-trash-fill"
                             style="color:red"
                                (click) = "onDelete(experience)"                            
                             ></i>
                        </div> 
                    </div>            
                </div>        
            </div>

            <div class="modal" id="experienceModal" >
                
                <div class="modal-dialog" >
                    <div class="modal-content">
                        <div class="modal-header">            
                            <h5 class="modal-title" id="staticBackdropLabel">{{title}}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    
                        <div class="modal-body">
                            
                            <form [formGroup]="formGroup"
                                (ngSubmit)="onSubmit(experiencia)"
                                >
                                <div class="form-group">
                                    <label for="company">* Empresa</label>
                                    <input class="form-control"
                                        type="text" 
                                        formControlName="company" 
                                        placeholder="{{experiencia.company}}"
                                    />
                                    <p *ngIf="Company?.hasError('required')" class="text-danger">Este campo es obligatorio</p> 
                                </div>
    
                                <div class="form-group">
                                    <label for="ubication">Ubicacion</label>
                                    <input class="form-control"
                                        type="text" 
                                        formControlName="ubication" 
                                        placeholder="{{experiencia.ubication}}"
                                    />
                                </div>
            
    
                                <div class="form-group">
                                    <label for="position">Posición</label>
                                    <input class="form-control"
                                        type="text" 
                                        formControlName="position" 
                                        placeholder="{{experiencia.position}}" 
                                    />
                                </div>
            
                                <div class="form-group">
                                    <label for="start">Desde</label>
                                    <input class="form-control"
                                        type="text" 
                                        formControlName="start" 
                                        placeholder="{{experiencia.start}}"
                                    />
                                </div>
                                <div class="form-group">
                                    <label for="end">Hasta</label>
                                    <input class="form-control"
                                        type="text" 
                                        formControlName="end" 
                                        placeholder="{{experiencia.end}}"
                                    />
                                </div>
                                <div class="form-group">
                                    <label for="timeElapsed">Tiempo Estimado</label>
                                    <input class="form-control"
                                        type="text" 
                                        formControlName="timeElapsed" 
                                        placeholder="{{experiencia.timeElapsed}}"
                                    />
                                </div>
                                <div class="form-group">
                                    <label for="img">Imagen</label>
                                    <div class="input-group mb-3">
                                        <input class="form-control"
                                        type="file" 
                                        (change)="onSelectNewFile($event)"                            
                                    /><div class="input-group-append">
                                        <button class="btn btn-outline-danger" *ngIf="sizeImage" (click)="clearImage(experiencia.img)" type="button">Limpiar</button>
                                      </div>
                                    </div>
                                                           
                                </div>                    
                                    <p *ngIf="sizeImage" class="text-danger">El tamaño de la imagen es demasiado grande</p> 
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-success" [disabled]="!formGroup.valid || sizeImage" data-bs-dismiss="modal">Guardar</button>
                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Salir</button>
                                </div>
                            </form> 
                        </div>
            
                        
                    </div>
            
            </div>
        </div>

       
        
    </div>
    </li>
    
</ul>

