p{
    font-size: 0.8em;
}

strong{
    color: #5a8bf6;
    font-size: 1.3em;
}

.form-control {
    margin: 1vw 0;
}

.form-control label {
    display: block;
}

.form-control input {
    width: 100%;
    height: 40px;
    margin: 5px;
    padding: 3px 7px;
    font-size: 17px;
}

.form-control-check {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-control-check label {
    flex: 1;
}

.form-control-check input {
    flex: 2;
    height: 20px;
}

.justify-content-center{
    border: 2px solid black;
    background-color: rgba(255,255,255,0.5);
    width: 40vw;
    height: 40vw;
    padding: 10vw;
}

.container{
    height: 80%;
    padding: 2vh;
    justify-content: center;
    width: 100%;
    border-radius: 30px;
    background: linear-gradient(45deg, #555555, transparent);
}

.container-fluid{   
    margin: auto;
    text-align:center;
    
}

span>img{
    width:100%;
    margin-bottom: 1vw;
}

.btn-success{
    margin: 1.5vw 0;
}

#logo-login{
    height: 92px;
    width: 223px
}