  canvas {
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: auto;
    max-height:200px;
  }
  
  .chart-container {
    display: flex;
    position: relative;
    margin: auto;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 0.5em;
    border-radius: 20px;
    box-shadow: 3px 1px 5px 6px rgba(0,0,0,0.3);
  }

  .col-3{
    margin-top: 30px
  }

  .col-3 a{
    margin-left:15px;
    font-size:smaller;
  }

  .row{
    margin:50px;
  }

  .toolbar {
    
    border: 3px solid #cccccc;
    
    display: flex;
  }
  