<div>
    
</div><div class="row" style="margin:50px">
    <div class="col">
        <h1 class="rounded float-start"><i class="bi bi-clipboard-check" style="color: rgb(51, 146, 230)"></i> Aptitudes</h1>            
        <span class="rounded float-end"><i class="bi bi-plus-square" style="color:green;"></i></span>
        <span class="rounded float-end"><i class="bi bi-pencil-square" style="color:green"></i></span>
    </div>
</div>

<!--<div class="chart-container" style="position: relative; height:400px; width:600px">
    <canvas id="chart_0"></canvas>
</div>-->

<div class="row">
    <div class="col-3"*ngFor="let skill of skillsList"> 
        <a>{{skill.name}}: {{skill.score}}% </a>

        <div id="chart-container" class="chart-container" >

                <div id="canvas">
                    <canvas id="chart{{skill.id}}"> </canvas>
                </div>

                <div id="buttons">
                    <i class="bi bi-pencil-fill"
                        style="color:#65cd23;
                         margin-right: 4em"
                        data-bs-toggle="modal" data-bs-target="#skillModal"
                        (click)="onClick(skill)"
                    ></i>
                    <i class="bi bi-trash-fill"
                        style="color:red"
                        (click) = "onDelete(skill)"                            
                    ></i>                    
                </div>

                <!-- MODAL -->
            <div class="modal" id="skillModal" >
                
                <div class="modal-dialog" >
                    <div class="modal-content">
                        <div class="modal-header">            
                            <h5 class="modal-title" id="staticBackdropLabel">Editar Aptitud</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                    
                        <div class="modal-body">
                            
                            <form [formGroup]="formGroup"
                                (ngSubmit)="onUpdate(skillItem)"
                                >
                                <div class="form-group">
                                    <label for="name">Nombre</label>
                                    <input class="form-control"
                                        type="text" 
                                        formControlName="name" 
                                        placeholder="Ingrese Nombre" 
                                        [(ngModel)]="skillItem.name"
                                    />
                                </div>
            
                                <div class="form-group">
                                    <label for="score">Puntuación</label>
                                    <input class="form-control"
                                        type="text" 
                                        formControlName="score" 
                                        id="score" 
                                        placeholder="Ingrese un entre 0 y 100"
                                        [(ngModel)]="skillItem.score"
                                    />
                                </div>
                                <div class="form-group">
                                    <label for="color">Color</label>
                                    <input [(colorPicker)]="skillItem.color" class="form-control"
                                        ng-model="skill.color"
                                        type="text" 
                                        formControlName="color"
                                        [(ngModel)]="skillItem.color"
                                        style="width:100px"
                                    />                              
                                    <div colorpicker ng-model="your_model"></div>      
                                </div>
            
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Guardar</button>
                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Salir</button>
                                </div>
                            </form> 
                        
            
                        </div>
            
                        
                    </div>
            
                </div>
            </div>
            </div>
            
            
    </div>
</div>
    