<div class="row" style="margin:50px">
    <div class="col">
            <h1 class="rounded float-start">Aptitudes</h1>
            <span class="rounded float-end"><i class="bi bi-pencil-square" style="color:#65cd23"></i></span>
    </div>
</div>

<!--<div class="chart-container" style="position: relative; height:400px; width:600px">
    <canvas id="chart_0"></canvas>
</div>-->

<div class="row">
    <div class="col-3"*ngFor="let skill of skillsList"> 
        <a>{{skill.name}}: {{skill.score}}% </a>

        <div class="chart-container" >
            <canvas id="chart{{skill.id}}"></canvas>
        </div>        
    </div>
</div>
