<div class="banner">
    <div class="banner-background" role="banner" style="font-size: 5rem;">
        <img src="{{miPortfolio.image}}" alt="" id="banner-image">
        <i class="bi bi-camera rounded float-end" id="banner-select"    
        (click)="setPortfolio()"
        *ngIf="editMode"
        data-bs-toggle="modal" data-bs-target="#bannerModal"
        ></i>
     </div> 
</div>

<div class="contenedor">       
    <img [src]="miPortfolio.profilePhoto"> 
    <i class="bi bi-camera" id="lapiz"    
         (click)="setPortfolio()"
         *ngIf="editMode"
         data-bs-toggle="modal" data-bs-target="#photoModal"
         ></i>   

    <div class="content" style="color: green">
        <i class="bi bi-pencil-square"
        *ngIf="isAdmin"
        [ngStyle]="{'color': color}"
        [ngStyle]="{'background-color': '{{color}}'}"    
        (click)="toggleEditMode()"
        ></i>
    </div>     
</div>

<div class="row" style="padding-right: 30px; padding-left: 30px">
    <div class="col-md-7 col-sm-12 col-xs-12" style="margin-bottom: 3em">
        
            <div class="contenedor" style="padding-right: 0">
                <h3 class="rounded float-start">{{miPortfolio.name}}</h3>
                <i class="bi bi-pencil-fill  rounded float-end"
                data-bs-toggle="modal" data-bs-target="#dataModal"
                                 style="
                                  margin-right: 10px"
                                  (click)="setPortfolio()"
                                  *ngIf="editMode"
                                  ></i>
             </div>   
            <h5>{{miPortfolio.position}}</h5>
            <p>{{miPortfolio.ubication}}</p>
            <h6><a href="" data-bs-toggle="modal" data-bs-target="#viewContactModal">Información de contacto</a></h6>
                
    </div>

    

    <div class="col-md-5 col-sm-12 col-xs-12">
        
            <div class="row align-items-center" id="card">
                <div class="col-5">
                    <img src="{{miCompany.img}}" class="logo">
                </div>
                <div class="col-7">
                    <h6 *ngIf="!editMode">{{miCompany.company}}</h6>
                    <div class="contenedor" *ngIf="editMode">                        
                        <select name="miSchool" id="" [(ngModel)]="miCompany">                            
                            <option *ngFor="let experience of experienceList" 
                                [ngValue]="experience" 
                                >
                                {{experience.id == 0 ? '- No Mostrar -' : experience.company}}
                            </option>
                        </select>                        
                    </div>  
                </div>                    
            </div>
            <div class="row align-items-center" id="card" style="min-height: 64px">
                <div class="col-5">
                    <img src="{{miSchool.image}}" class="logo">
                </div>
                <div class="col-7">
                    <h6 *ngIf="!editMode">{{miSchool.school}}</h6>
                    <div class="contenedor" *ngIf="editMode">                        
                        <select name="miSchool" id="" [(ngModel)]="miSchool">
                            <option *ngFor="let education of educationList" 
                                [ngValue]="education"                                 
                                >
                                {{education.id == 0 ? '- No Mostrar -' : education.school}}
                            </option>
                        </select>                        
                    </div>  
                </div>              
                
            </div>
            <div class="row align-items-center" id="card" style="min-height: 64px; border-bottom: 0px;">
                <button class="btn btn-success rounded float-end" *ngIf="editMode" (click)="updateCompanySchool(miPortfolio, miSchool, miCompany)" style="opacity: 0.9"> <i class="bi bi-check-square"> </i> Guardar Cambios</button>                
            </div>
        
    </div>


</div>

<div class="botonera"  *ngIf="editMode">
    <button class="btn btn-primary" (click)="setPortfolioContact()"    
    data-bs-toggle="modal" data-bs-target="#contactModal"
    >Datos de contacto</button>    
</div>

<!-- MODAL -->
<div class="modal" id="dataModal" >
    
    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-header">            
                <h5 class="modal-title" id="staticBackdropLabel">Editar Datos Personales</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
        
            <div class="modal-body">

                <form [formGroup]="formGroup"
                    (ngSubmit)="onUpdate(miPortfolio)"
                    >
                    <div class="form-group">
                        <label for="name">Nombre y Apellido</label>
                        <input class="form-control"
                            type="text" 
                            formControlName = "name"
                            placeholder="Ingrese Nombre" 
                        />
                    </div>

                    <div class="form-group">
                        <label for="position">Posicion</label>
                        <input class="form-control"
                            type="text" 
                            formControlName="position" 
                            placeholder="Ingrese Ocupación"
                        />
                    </div>
                    <div class="form-group">
                        <label for="ubication">Ubicacion</label>
                        <input class="form-control"
                            type="text" 
                            formControlName="ubication" 
                            placeholder="Ingrese Ubicacion"
                        />
                    </div>
                    <div class="form-group">
                        <label for="profilePhoto">Foto de Perfil</label>
                        <div class="input-group mb-3">
                        <input class="form-control"
                            type="file" 
                            formControlName="profilePhoto"                            
                            placeholder="{{miPortfolio.profilePhoto}}"
                            (change)="onSelectNewFile($event)"
                        />
                        <div class="input-group-append">
                            <button class="btn btn-outline-danger" *ngIf="sizeImage" (click)="clearImage(miPortfolio.profilePhoto)" type="button">Limpiar</button>
                          </div>
                        </div>
                                               
                    </div>                    
                        <p *ngIf="sizeImage" class="text-danger">El tamaño de la imagen es demasiado grande</p>  

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success" [disabled]="sizeImage || !formGroup.valid" data-bs-dismiss="modal">Guardar</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Salir</button>
                    </div>
                </form>               

            </div>            
        </div>
    </div>
</div>

<div class="modal" id="photoModal" >
    
    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-header">            
                <h5 class="modal-title" id="staticBackdropLabel">Seleccione foto de perfil</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
        
            <div class="modal-body">

                <form [formGroup]="formGroup"
                    (ngSubmit)="onUpdate(miPortfolio)"                    >
                    
                    <div class="form-group">
                        <label for="profilePhoto">Foto de Perfil</label>
                        <div class="input-group mb-3">
                        <input class="form-control"
                            type="file" 
                            formControlName="profilePhoto"                            
                            placeholder="{{miPortfolio.profilePhoto}}"
                            (change)="onSelectNewFile($event)"
                        />
                        <div class="input-group-append">
                            <button class="btn btn-outline-danger" *ngIf="sizeImage" (click)="clearImage(miPortfolio.profilePhoto)" type="button">Limpiar</button>
                          </div>
                        </div>
                                               
                    </div>                    
                        <p *ngIf="sizeImage" class="text-danger">El tamaño de la imagen es demasiado grande</p>  

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success" [disabled]="sizeImage" data-bs-dismiss="modal">Guardar</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Salir</button>
                    </div>
                </form>               

            </div>            
        </div>
    </div>
</div>

<div class="modal" id="bannerModal" >
    
    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-header">            
                <h5 class="modal-title" id="staticBackdropLabel">Seleccione imagen de banner</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
        
            <div class="modal-body">

                <form [formGroup]="formGroup"
                    (ngSubmit)="onUpdateBanner(miPortfolio)"                    >
                    
                    <div class="form-group">
                        <label for="image">Seleccione Banner</label>
                        <div class="input-group mb-3">
                        <input class="form-control"
                            type="file" 
                            formControlName="image"                            
                            placeholder="{{miPortfolio.image}}"
                            (change)="onSelectNewFile($event)"
                        />
                        <div class="input-group-append">
                            <button class="btn btn-outline-danger" *ngIf="sizeImage" (click)="clearImage(miPortfolio.image)" type="button">Limpiar</button>
                          </div>
                        </div>
                                               
                    </div>                    
                        <p *ngIf="sizeImage" class="text-danger">El tamaño de la imagen es demasiado grande</p>  

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success" [disabled]="sizeImage" data-bs-dismiss="modal">Guardar</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Salir</button>
                    </div>
                </form>               

            </div>            
        </div>
    </div>
</div>

<div class="modal" id="contactModal" >
    
    <div class="modal-dialog"  style="max-width: 355px">
        <div class="modal-content">
            <div class="modal-header">            
                <h5 class="modal-title" id="staticBackdropLabel">Editar Datos de contacto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
        
            <div class="modal-body">

                <form [formGroup]="formContact"
                    (ngSubmit)="onUpdateContact(miPortfolio)"
                    >
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input class="form-control"
                            type="email" 
                            formControlName = "email"
                            placeholder="Ingrese Correo Electrónico" 
                        />
                    </div>

                    <div class="form-group">
                        <label for="facebook">Facebook</label>
                        <input class="form-control"
                            type="text" 
                            formControlName="facebook" 
                            placeholder="Ingrese Facebook"
                        />
                    </div>
                    <div class="form-group">
                        <label for="linkedin">Linkedin</label>
                        <input class="form-control"
                            type="text" 
                            formControlName="linkedin" 
                            placeholder="Ingrese Linkedin"
                        />
                    </div>
                    <div class="form-group">
                        <label for="github">GitHub</label>
                        <input class="form-control"
                            type="text" 
                            formControlName="github" 
                            placeholder="Ingrese GitHub"
                        />
                    </div>
                    <div class="form-group">
                        <label for="youtube">Youtube</label>
                        <input class="form-control"
                            type="text" 
                            formControlName="youtube" 
                            placeholder="Ingrese Youtube"
                        />
                    </div>
                    <div class="form-group">
                        <label for="instagram">Instagram</label>
                        <input class="form-control"
                            type="text" 
                            formControlName="instagram" 
                            placeholder="Ingrese Instagram"
                        />
                    </div>
                    

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success"  data-bs-dismiss="modal">Guardar</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Salir</button>
                    </div>
                </form>               

            </div>            
        </div>
    </div>
</div>


<div class="modal" id="viewContactModal" >
    
    <div class="modal-dialog"  style="max-width: 355px">
        <div class="modal-content">
            <div class="modal-header">            
                <h5 class="modal-title" id="staticBackdropLabel">Datos de contacto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
        
            <div class="modal-body">
                <h5>Correo electrónico: </h5> <a aria-label="Email" target="_blank" rel="noopener" href={{miPortfolio.email}} title="Email">{{miPortfolio.email}}</a>
                <h5>GitHub: </h5><a aria-label="GitHub" target="_blank" rel="noopener" href={{miPortfolio.github}} title="GitHub">{{miPortfolio.github}}</a>
                <h5>Linkedin: </h5><a aria-label="Linkedin" target="_blank" rel="noopener" href={{miPortfolio.linkedin}} title="Linkedin">{{miPortfolio.linkedin}}</a>
                <h5>Facebook: </h5><a aria-label="Facebook" target="_blank" rel="noopener" href={{miPortfolio.facebook}} title="Facebook">{{miPortfolio.facebook}}</a>
                <h5>Instagram: </h5><a aria-label="Instagram" target="_blank" rel="noopener" href={{miPortfolio.instagram}} title="Instagram">{{miPortfolio.instagram}}</a>
                <h5>Youtube: </h5><a aria-label="Youtube" target="_blank" rel="noopener" href={{miPortfolio.youtube}} title="Youtube">{{miPortfolio.youtube}}</a>

                    <div class="modal-footer">                        
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Salir</button>
                    </div>     

            </div>            
        </div>
    </div>
</div>