<div class="banner">
    <div class="banner-background" role="banner">
     </div> 
</div>

<div class="contenedor">       
    <img [src]="miPortfolio.profilePhoto"> 
    <i class="bi bi-camera" id="lapiz"    
         (click)="setPortfolio()"
         *ngIf="editMode"
         data-bs-toggle="modal" data-bs-target="#photoModal"
         ></i>   

    <div class="content">
        <i class="bi bi-pencil-square"
        *ngIf="isAdmin"
        [ngStyle]="{'color': color}"
        [ngStyle]="{'background-color': '{{color}}'}"    
        style="color: green"
        (click)="toggleEditMode()"
        ></i>
    </div>     
</div>

<div class="row" style="padding-right: 30px; padding-left: 30px">
    <div class="col-5" style="margin-bottom: 3em">
        
            <h1>{{miPortfolio.name}}</h1>
            <h3>{{miPortfolio.position}}</h3>
            <h5>{{miPortfolio.ubication}}</h5>
            <h6>Informacion de contacto</h6>
            <a routerLink="/login" aria-current="page">Información</a> 
                
    </div>

    <div class="col-1"> 
         <div class="contenedor">
            <i class="bi bi-pencil-fill"
            data-bs-toggle="modal" data-bs-target="#dataModal"
                             style="
                              margin-right: 10px"
                              (click)="setPortfolio()"
                              *ngIf="editMode"
                              ></i>
         </div>               
    </div>
    <div class="col-1">

    </div>

    <div class="col-5">
        
            <div class="row align-items-center" id="card">
                <div class="col-5">
                    <img src="{{miCompany.img}}" class="logo">
                </div>
                <div class="col-7">
                    <h6 *ngIf="!editMode">{{miCompany.company}}</h6>
                    <div class="contenedor" *ngIf="editMode">                        
                        <select name="miSchool" id="" [(ngModel)]="miCompany">                            
                            <option *ngFor="let experience of experienceList" 
                                [ngValue]="experience" 
                                >
                                {{experience.id == 0 ? '- No Mostrar -' : experience.company}}
                            </option>
                        </select>                        
                    </div>  
                </div>                    
            </div>
            <div class="row align-items-center" id="card" style="min-height: 64px">
                <div class="col-5">
                    <img src="{{miSchool.image}}" class="logo">
                </div>
                <div class="col-7">
                    <h6 *ngIf="!editMode">{{miSchool.school}}</h6>
                    <div class="contenedor" *ngIf="editMode">                        
                        <select name="miSchool" id="" [(ngModel)]="miSchool">
                            <option *ngFor="let education of educationList" 
                                [ngValue]="education"                                 
                                >
                                {{education.id == 0 ? '- No Mostrar -' : education.school}}
                            </option>
                        </select>                        
                    </div>  
                </div>              
                
            </div>
            <div class="row align-items-center" id="card" style="min-height: 64px; border-bottom: 0px;">
                <button class="btn btn-success rounded float-end" *ngIf="editMode" (click)="updateCompanySchool(miPortfolio, miSchool, miCompany)" style="opacity: 0.9"> <i class="bi bi-check-square"> </i> Guardar Cambios</button>                
            </div>
        
    </div>


</div>

<div class="botonera"  *ngIf="editMode">
    <!-- <button class="btn btn-primary btn">Tengo interes en</button> -->
    <button class="btn btn-success">Añadir Seccion</button>
    <button class="btn btn-primary">Mas</button>
    
    <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#dataModal"> Editar </button> -->
</div>

<!-- MODAL -->
<div class="modal" id="dataModal" >
    
    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-header">            
                <h5 class="modal-title" id="staticBackdropLabel">Editar Datos Personales</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
        
            <div class="modal-body">

                <form [formGroup]="formGroup"
                    (ngSubmit)="onUpdate(miPortfolio)"
                    >
                    <div class="form-group">
                        <label for="name">Nombre y Apellido</label>
                        <input class="form-control"
                            type="text" 
                            formControlName = "name"
                            placeholder="Ingrese Nombre" 
                        />
                    </div>

                    <div class="form-group">
                        <label for="position">Posicion</label>
                        <input class="form-control"
                            type="text" 
                            formControlName="position" 
                            placeholder="Ingrese Ocupación"
                        />
                    </div>
                    <div class="form-group">
                        <label for="ubication">Ubicacion</label>
                        <input class="form-control"
                            type="text" 
                            formControlName="ubication" 
                            placeholder="Ingrese Ubicacion"
                        />
                    </div>
                    <div class="form-group">
                        <label for="profilePhoto">Foto de Perfil</label>
                        <div class="input-group mb-3">
                        <input class="form-control"
                            type="file" 
                            formControlName="profilePhoto"                            
                            placeholder="{{miPortfolio.profilePhoto}}"
                            (change)="onSelectNewFile($event)"
                        />
                        <div class="input-group-append">
                            <button class="btn btn-outline-danger" *ngIf="sizeImage" (click)="clearImage(miPortfolio.profilePhoto)" type="button">Limpiar</button>
                          </div>
                        </div>
                                               
                    </div>                    
                        <p *ngIf="sizeImage" class="text-danger">El tamaño de la imagen es demasiado grande</p>  

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success" [disabled]="sizeImage" data-bs-dismiss="modal">Guardar</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Salir</button>
                    </div>
                </form>               

            </div>            
        </div>
    </div>
</div>

<div class="modal" id="photoModal" >
    
    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-header">            
                <h5 class="modal-title" id="staticBackdropLabel">Seleccione foto de perfil</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
        
            <div class="modal-body">

                <form [formGroup]="formGroup"
                    (ngSubmit)="onUpdate(miPortfolio)"                    >
                    
                    <div class="form-group">
                        <label for="profilePhoto">Foto de Perfil</label>
                        <div class="input-group mb-3">
                        <input class="form-control"
                            type="file" 
                            formControlName="profilePhoto"                            
                            placeholder="{{miPortfolio.profilePhoto}}"
                            (change)="onSelectNewFile($event)"
                        />
                        <div class="input-group-append">
                            <button class="btn btn-outline-danger" *ngIf="sizeImage" (click)="clearImage(miPortfolio.profilePhoto)" type="button">Limpiar</button>
                          </div>
                        </div>
                                               
                    </div>                    
                        <p *ngIf="sizeImage" class="text-danger">El tamaño de la imagen es demasiado grande</p>  

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success" [disabled]="sizeImage" data-bs-dismiss="modal">Guardar</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Salir</button>
                    </div>
                </form>               

            </div>            
        </div>
    </div>
</div>